* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

button {
    background:transparent;
    border: none;
    outline:none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.ttf') 
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

/* header start */

.header {
    position:fixed;
    top:0;
    background-color: red;
    width:100%;
    height:48px;
    border-bottom: 1px solid red;
    display:flex;
    justify-content:space-around;
    align-items: center;
    z-index: 100;
}

.header .logo {
    width:70px;
}

.header .item {
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.header .item .parent {
    position: relative;
    top:0;
    left:0;
}
    
.header .item .input {
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    width: 40px;
    transition: width 0.3s ease;
}
    
.header .item .input::placeholder {
    color: green;
}
    
.header .item .parent.active .input {
    width: 200px;
    margin-right: 100px;
}
    
.header .item .btn {
    width: 40px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background: green;
    display: inline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}
    
.header .item .parent.active .btn {
    transform: translateX(210px);
}
    
.header .item .fa-solid {
    color: #ffffff;
}

.header .item .sp {
    padding:20px;
}

.header .item .use {
    padding:30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#ffffff;
    font-size: 16px;
}

.header .item .use .logo {
    width:30px;
    margin-right:20px;
}

.header .item .use .logo img {
    border-radius: 50px;
}

.header .item .use > p {
    margin-top:15px;
}


/* header end */

.nav_left {
    background-color: #0A1B39;
    width:203px;
    height:100vh;
    position:fixed;
    top:48px;
}

.nav_left .btn {
    margin-top:20px;
    display:flex;
    justify-content: center;
}

.nav_left .foud {
    background-color: #2A2C3B;
    width:90%;
    border-radius: 20px;
    margin:10px 0 0 8px;
    
}

.nav_left  .foud  .toggleButton {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
    padding: 10px 15px;
    margin: 0.5vw 0 0.5vw 2px;
}

.nav_left .foud  .menu {
    position:relative;
    top:0;
}

.nav_left .foud  .menu > li {
    display:flex;
    align-items: center;
    color:#ffffff;
    line-height: 50px;
}


.nav_left .foud .closed {
    display:none;
}

.hidden {
    display:none;
}

@media(max-width:769px) {
    .nav_left {
        display:none;
    }
}


/* nav_left end */
