/* main start */
/* source start */

.main {
    width:80vw;
    position:relative;
    top:55px;
    left:230px;
    line-height: 40px;
}

.main form.example {
    width:60%;
    margin-left:300px;
    margin-top:20px;
}

.main form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 20px 0 0 20px;
  }
  
.main form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background:#00BF6F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    border-radius:0 20px 20px 0;
    display:flex;
    align-items: center;
  }
  
.main form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
.main form.example::after {
    content: "";
    clear: both;
    display: table;
}

.main .item_count {
    width:60%;
    display:flex;
    margin-top:30px;
}

.main .item_count button {
    margin-right: 40px;
    cursor: pointer;
    font-weight: 700;
}

.main .item_count > p {
    font-size: 17px;
    font-weight: 600;
}

.main .item_count button:hover {
    color:#0b7dda;
    cursor: pointer;
    font-weight: 700;
}

.main .item_main .tablee tr td , 
.main .item_main .tablee tr th {
    border:3px solid #E5E6EC;
    padding:10px;
    text-align: center;
}

.main .item_main .tablee tr td a {
    text-decoration: none;
}

.main .item_main .btn_main {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.main .item_main .tablee {
    margin:30px 30px 30px 10vw;
}

.main .item_main .navlink {
    display:flex;
    justify-content: center;
}

.main .item_main .navlink a {
    margin:5px;
    text-decoration: none;
}

.modal-body .dropdown .dropdown-menu {
    overflow-y:scroll;
    height:150px;
}

.modal-body .text > input {
    width:100%;
    height:58px;
}

.modal .modal-content {
    width:70%;
    margin-left: 200px;
    margin-top:50px;
}

.modal-body .list_sv .list_sv-item {
    display:flex;
    justify-content: space-between;
}
